- var links = [{url: "product.html", text: "Мебель", subnav: [{url: '#', text: 'Кресла'}, {url: '#', text: 'Стулья'}, {url: '#', text: 'Диваны'}, {url: '#', text: 'Кровати'}, {url: '#', text: 'Барные стулья'}, {url: '#', text: 'Столы'}, {url: '#', text: 'Слэбы'}, {url: '#', text: 'Комоды'}, {url: '#', text: 'Офис'}, {url: '#', text: 'Рабочая станция'},]}, {url: "", text: "Освещение", subnav: [{url: '#', text: 'Лампы'}, {url: '#', text: 'Абажуры'}, {url: '#', text: 'Светильники'}, {url: '#', text: 'Ночники'}]}, {url: "", text: "Декор"}, {url: "", text: "Новинки"}, {url: "", text: "Контакты"}]

mixin main-nav()
    +b.NAV.main-nav
        +e.UL.list
            each link in links
                if (link.subnav)
                    +e.LI.item.has-subnav
                        +e.A.link(href="#{link.url}") #{link.text}
                        if (link.subnav)
                            +e.subnav
                                +e.UL.sublist
                                    each sublink in link.subnav
                                        +e.LI.subitem
                                            +e.A.sublink(href="#{sublink.url}") #{sublink.text}
                else
                    +e.LI.item
                        +e.A.link(href="#{link.url}") #{link.text}
                        if (link.subnav)
                            +e.subnav
                                +e.UL.sublist
                                    each sublink in link.subnav
                                        +e.LI.subitem
                                            +e.A.sublink(href="#{sublink.url}") #{sublink.text}